.hidden{
    display: none;
}



#mobile-outline {
    outline: 20px solid #333;
    max-width: 412px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
 } 

 body {
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
 }
 
 a {
    text-decoration: none;
    transition: all .5s ease-in-out;
 }
 
 input{
    display: block;
    margin-left: -350px;
    padding: 0;
    
 }


 #main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
 } 
 
 #main-nav input, #burger-con {
    display: none;
 }

 #main-nav input:checked ~ #burger-con {
    display: block;
 }

 #main-nav input:checked ~ label img {
    transform: rotate(90deg);
 }
 
 #main-nav ul {
    list-style: none;
    padding: 0;
    margin:0;
 }
 
 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
 }
 
 #main-nav ul li {
    border-bottom: 1px solid #efefef;
 }
 
 
 
 #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 } 
 
 
 
 #logo {
    margin-bottom: 20px;
    max-width: 382px;
 }

#dining img{
    margin-left: -15px;

}

.dining-img-h2{
    text-align: center;
    margin-top: 10px;
    
}

#dining-summary p{
    text-align: center;
    /* color: #EEE8AA; */
    color: 	#F0E68C;
    margin-top: 15px;
    padding: 10PX;
}

.line-separator {
    margin-top: 10px;
    border-top: solid 3px #9a2018;
    
    padding-top: 20px;
    

 }
 
#introduce span{
    color: #F0E68C;
}

#introduce .col-span-full{
    margin-bottom: 40px;
}


#information-list{
    border:3px solid #626262;
    
    align-items: center;
    justify-content: center;
    
    
}

#information-list .line-separator2{
    border-top: 3px solid#626262;
    padding-bottom: 10px;
    
}

.information-title{
    text-align: center;
}

#information-list .box-list :last-child{
    text-align: center;
}

.box-list label {
    cursor: pointer;
    transition: all 0.3s ease;

}

.box-list label:active{
    background-color: #626262;
    color: aliceblue;
    font-size: 20px;
}

#information-list span{
    color:#F0E68C;
    
}


#information-list [type="checkbox"]:checked + label::after{
    content: "🌟";
    position: absolute;
    /* margin-left: 150px; */
    text-align: right;
    margin-left: 100px;
    animation: fadeIn 0.7s;
 
}



@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}

.box-list input, .boxing{
    display: none;
    
}

.box-list input:checked ~ .boxing{
    display: block;
}

/* .box-list input:checked ~ label{
    transform: rotateX('90deg');
} */

.box-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.box-list ul li{
    /* background-color: #CF6666; */
    background-color: #DCDCDC;
    margin-top: 15px;
    line-height: 20px;
}

.box-list ul li a {
    display: block;
    padding: 10px 0 10px 0 ;
    
}

.box-list ul li:first-child{
    border-top: 3px solid #d2d0d0
}

.box-list ul li:last-child{
    margin-bottom: 10px;
}


.information-title{
    text-align: center;
}


#vegans{
    display: block;
    margin-top: 40px;
    text-align: center;
    font-size: 13px;
}

#vegans span{
    color: #F0E68C;
}
 #vegans img{
    width: 412px;
    height: 200px;
    margin-top: 30px;
 }

 #wine{
    display: block;
    text-align: center;

 }

 #wine span{
    color: #F0E68C;
 }

#wine-photo img{
    margin-top: 20px;
    
}

 #wine-content{

    text-align: left;
    padding: 10px

 }

#wine-photo img{
    text-align: center;
    width: 380px;
    height: 200px;
}


 #wine-content span{
    color: #F0E68C;
 }


 #footer-dining {
    background-image: url(../images/footer.jpg);
    background-position: center;
     background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
    padding-bottom: 80px;
 }
 
 #footer-dining h3 {
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 16px;
    margin-left: 6px;
 }
 
 #footer-privacy .line-seperator {
    margin-top: 0px;
    
 }
 
 #footer-contact-info h3 {
    font-size: 23px;
 }
 
 #footer-contact-info p {
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 11px;
    margin-left: 6px;
 }

 #footer-privacy{
    margin-left: 6px;
    text-align: left;
 }

